project:
  type: website

website:
  title: "Ding Ding"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - Example Analysis.qmd
    

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

